.card-header-active {
    background-color: #eeee;
    color: black;
    cursor: pointer;
}

.card-header-inactive {
    background-color: darkgray;
    color: white;
    cursor: pointer;
}

.card-header-critical {
    background-color: #e2cccc;
    font-weight: 900;
    cursor: pointer;
}

.filter_col {
    padding-right: 0.5rem!important;
    padding-left: 0.5rem!important;
}